@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');



div.homepage-header{
    min-height: 100vh;
    .container-fluid{
        .container-fluid.title-text{
            h1,h3{
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                margin: 40px 0 40px 30px;
                font-size: 3.35rem;
                transform: scale(1, 0.85);
                transform-origin: left;
            }
            h3{
                transform: scale(1);
                font-weight: 600;
                font-size: 1.35rem;
            }
        }

        .tweetter-blue-bird{
            transform: rotateY(
                180deg
                );
                    width: 72px;
                    margin: 2rem;
                .navbar-brand{
                    
                    // transform: rotateY(180deg);
                    img.fade-transform-animaton{
                        animation-name: fadeOutLeftTop;
                        animation-duration: 2s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: infinite;
                        
                    }
                }
            }
    }
}

@keyframes  fadeOutLeftTop {
  0%{
    transform:scale(.3) rotateY(180deg) ;
    transform-origin: right;
  }
  50%{
    transform: scale(1) translate(-8px,-8px) rotateY(180deg);
   
  }
  to{
    transform:scale(.1) translate(-25px,-32px) rotateY(180deg);
    transform-origin: top;
    
  }
}
@media only screen and (max-width: 400px) {
.homepage-header{
    .container-fluid.p-4 {
        padding: .5rem!important;
        .tweetter-blue-bird{
                margin-left: 10px;
    }
    .container-fluid.title-text{
    h1,h3{    margin: 40px 0 40px 10px;}
    }
}
}
}

@media screen and (min-width: 600px) {
    div.homepage-header .container-fluid .container-fluid.title-text h1 {
        font-size: 65px;
    }
}

